/* universal styles here  */
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.btn-primary{
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 400px;
    border: 0px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
}
/* header styles starts here  */
.header-containers{
    width: 100%;
    height: 83vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-content{
    width: 750px;
    margin-left: 150px;

}
.header-content-title{
    font-size: 80px;
    font-weight: 800px;
    color: #272727;
}
.header-content-description{
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.header-img{
    width: 630px;
    height: 800px;
}
/* Featured Styles Starts Here  */
.featured-containers{
    width: 70%;
    margin: 170px 240px 125px 240px;
}
.featured-content{
    text-align: center;
}
.featured-title{
    font-size: 40px;
    font-weight: 800px;
    color: #272727;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.featured-images{
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-top: 50px;
    gap: 24px;
}
.featured-img-box{
    width: 500px;
    text-align: center;
}
.featured-img1{
    width: 460px;
    height: 535px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    margin-bottom: 32px;
}
.featured-img2{
    width: 460px;
    height: 535px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    margin-bottom: 32px;
}
.featured-img3{
    width: 460px;
    height: 535px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
    margin-bottom: 32px;
}
.img1{
   margin-top: 108px;
}
.img2{
    margin-top: 135px;
}
.img3{
    margin-top: 64px;
}
.anchor{
    font-size: 24px;
    font-weight: 700px;
    color: #272727;
}
/* Extra section (Our New Collection) Styles Starts Here  */
.new-collection-containers{
    width: 100%;
    height: 90vh;
    background-color: rgba(233, 86, 117, 0.1);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 130px;
}
.new-collection-title{
    font-size: 45px;
    font-weight: 800px;
    color: #272727;
    padding-top: 40px;
}
.new-collection-description{
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 40px;
}
.new-img{
    width: 442px;
    height: 525px;
}
.new-collection-images{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 50px;
    margin-left: 240px;
}

/* Optional Styles Starts Here  */
.optional-containers{
    width: 75%;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 240px 130px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.optional-content{
    text-align: center;
}
.optional-content-description{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
/* hot-deal styles starts here  */
.hot-deal-containers{
    width: 100%;
    height: 625px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 185px;
    margin-bottom: 130px;
}
.hot-deal-content{
    text-align: center;
    margin-left: 390px;
}
.hot-deal-content-title{
    font-size: 40px;
    font-weight: 800px;
    color: #272727;
}
.hot-deal-content-desc{
    width: 590px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}
/* instagram styles starts here  */
.instagram-containers{
    width: 65%;
    margin-left: 240px;
    margin-right: 240px;
}
.instagram-content{
    text-align: center;
}
.instagram-title{
    font-size: 40px;
    font-weight: 800px;
    color: #272727;
}
.instagram-content-description{
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}
.instagram-images-box{
    width: 60%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 22px;
    margin-top: 50px;
}
.instagram-img-box1, .instagram-img-box2, .instagram-img-box3, .instagram-img-box4{
    width: 338px;
}
/* latest deal styles starts here */
.latest-deal-containers{
    width: 1428px;
    height: 450px;
    border-radius: 8px;
    border-radius: 8px;
    background: url("/image/Rectangle\ 9.png"), lightgray 0px -203.444px / 100% 213.755%;
    background-repeat: no-repeat;
    margin: 130px 240px 130px 240px;
    text-align: center;
    position: relative;
}
.deal-containers{
    margin-top: 130px;
    position: absolute;
    margin-left: 280px;
}
.latest-deal-content{
    text-align: center;

}
.latest-deal-title{
    font-size: 40px;
    font-weight: 800px;
    color: #272727;
}
.latest-deal-desc{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(39, 39, 39, 0.60);
}
.btn-email{
    border: 0px;
    border-radius: 8px;
    padding: 22px 510px 22px 22px;
    margin-top: 45px;
    margin-right: 16px;
}
/* footer styles starts here  */
.footer-containers{
    width: 100%;
    height: 50vh;
    background-color: #111010;
    text-align: center;
    color: white;
    position: relative;
}
.footer-content{
    width: 630px;
    position: absolute;
    margin-top: 130px;
    margin-left: 650px;
}
.footer-title{
    font-size: 45px;
    font-weight: 800px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.footer-extra-desc{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.40);
}
span{
    color: #E55473;
}
